.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.h2 {
    font-weight: 400;
    font-size: 30px;
}