.button {
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    background:none;
    padding-bottom: 5px;
    text-decoration: none;
}

.title {
    font-weight: 400;
    font-size: 30px;
}

.active {
    border-bottom: 2px solid var(--clear-color);
}