.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
    margin-top: 40px;
}

.links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 27px;
    background-color: var(--accent-color);
    padding: 0 12px;
    text-transform: uppercase;
}