.overlay {
    position: absolute;
   right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    min-height: 100px;
    width: 1000px;
    background-color: var(--secondary-background-color);
    border-radius: 45px;
    padding: 40px;
}

.buttonContainer {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(85px, -47px);
}