@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--clear-color)
}

body {
  background-color: var(--primary-color)
}

:root {
  --primary-color: #FCE2FF;
  --secondary-color: #EACDFF;
  --primary-success-color: #2AE881;
  --secondary-sucess-color: #D4FAE6;
  --accent-color: #CB81FF;
  --primary-text-color: #201B10;
  --secondary-background-color: #FFFFFF;
  --disabled-color: #C0C0C0;
  --warning-color: #FCE300;
  --clear-color: #201B10;
  --disabled-text-color: #787878;
  --error-color: #FF5F00;
  --accent-disabled-color: #8F64AE;
  --overlay-color: #0606064D;
}