.wrapper {
    width: 100%;
    padding: 10px 0;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}

.secondary {
    background-color: var(--secondary-color);
}

.title {
    font-weight: 400;
    font-size: 40px;
}

.body {
    font-weight: 400;
    font-size: 20px;
}